/* You can add global styles to this file, and also import other style files */
.title {
  color: orange;
}

.elevated-form {
  border: 3px solid black;
  background: lightgrey;
  padding: 20px;
  margin-bottom: 30px;
}
